<div class="card">
  <h5 class="card-header">Create people</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="peopleName">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="peopleName"
            placeholder="Name"
            value="{{ people.name }}"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            type="text"
            class="form-control"
            name="surname"
            id="surname"
            placeholder="Surname"
            value="{{ people.surname }}"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="number">Number</label>
          <input
            type="number"
            class="form-control"
            name="number"
            id="number"
            placeholder="Number"
            value="{{ people.number }}"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
                  class="form-control"
                  name="description"
                  id="description"
                  placeholder="Description"
          >{{ people.description }}</textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</div>
