<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "./partials/styles.twig" %}
  </head>
  <body>
    <div class="container mt-1">
      {% block body %}{% endblock %}
    </div>
  </body>
  {% include "./partials/scripts.twig" %}
</html>
